.data {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15px;
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;

}

.parent {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}